@media (min-width: 1140px)
  .container
    max-width: 1200px
    margin: 0 auto

  .head
    &-slider
      &__item
        min-height: 668px
      &__title
        font-size: 96px
        line-height: 96px
        max-width: 835px
      &__subtitle
        font-size: 24px
        line-height: 26px
        max-width: 890px

  .service
    padding: 0 0 16px
    .title
      text-align: left
      margin-bottom: 64px
      &:after
        left: 50px
    &__subtitle
      text-align: left
      margin-bottom: 74px
    &__descr
      text-align: left
    &-content
      max-width: 921px
      padding-top: 0
    &-title
      max-width: 393px
      text-align: left
      padding-left: 62px
    &__inner
      display: flex
      justify-content: space-between
      align-items: center