@media (min-width: 640px)
  .container
    padding: 0 10px

  .header
    min-height: 100px
    &__inner
      padding: 17px 0

  .head
    &-slider
      &__item
        min-height: 386px
      &__title
        font-size: 60px
        line-height: 60px
        max-width: 522px
    .slick-dots
      bottom: 50px


  .call
    min-height: 254px
    &__title
      max-width: 568px
    &__subtitle
      max-width: 568px

  .title
    font-size: 48px
    line-height: 56px

  .service
    &__subtitle
      font-size: 24px
    &__descr
      font-size: 18px
      line-height: 24px

  .projects
    padding-top: 40px
    &-item
      max-width: 518px
      &__mask
        width: 470px
        height: 417px

  .team
    padding: 46px 0 53px
    &__img
      max-width: 520px
    &__text
      max-width: 425px
      margin: 0 auto
    &-btn
      margin-top: 56px

  .news
    &__inner
      display: flex
      justify-content: center
      flex-wrap: wrap
      width: 100%
    &-col
      max-width: 269px
      width: 100%
    &-col1
      margin-right: 15px
    &-col2
      margin-left: 15px
    //&-item
      &--1
        order: 1
      &--2
        order: 2
      &--3
        order: 3
      &--4
        order: 4
      &--5
        order: 6
      &--6
        order: 5
      &--7
        order: 8
      &--8
        order: 7