@media (min-width: 768px)
  .container
    max-width: 1200px
    margin: 0 auto
  .head
    &-slider
      &__item
       min-height: 465px
      &__title
        padding: 87px 0 31px
        margin-bottom: 0
        &:after
          display: none
      &__subtitle
        display: block
        margin-bottom: 32px

  .call
    min-height: 187px
    &__inner
      display: flex
      justify-content: space-between
    &__text
      text-align: left
      max-width: 427px
    &-btn
      margin: 0
      align-self: flex-start

  .service
    padding-top: 50px
    padding-bottom: 0
    &-content
      &__item
        width: 50%
        min-height: 336px