@import "../css/_libs.css"
@import "base/mixins"
@import "base/variables"

body
  font-family: "Roboto-Regular", sans-serif
  font-size: 16px
  color: #797979

.container
  padding: 0 20px

@import "blocks/header"
@import "blocks/button"
@import "blocks/navigation"
@import "blocks/head"
@import "blocks/call"
@import "blocks/title"
@import "blocks/service"
@import "media/640"
@import "media/768"
@import "media/1024"
@import "media/1140"
@import "media"